<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="container">


  <h1>Employee Detail</h1>
  <table>
    <tr>
      <td th:text="'Employee Code: ' + ${employee.employee_Code}"></td>
    </tr>
    <tr>
      <td th:text="'Name: ' + ${employee.name}"></td>
    </tr>
    <tr>
      <td th:text="'Salary: ' +${employee.salary}"></td>
    </tr>
    <tr>
      <td th:text="'Age: ' +${employee.age}"></td>
    </tr>
    <tr>
      <td th:text="'Branch: ' +${employee.branch.name_Br}"></td>
    </tr>
  </table>
  <a href="/home">Back to List</a>
</div>

<div th:replace="/layout :: footer"></div>
</body>
</html>